<div class="modal fade" id="modal-login-mobile" tabindex="-1" role="dialog" style="display:none;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ 'Mobile Number Verification'|trans }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="openLogin()">
          <i class="fa fa-close"></i>
        </button>
      </div>

      <div class="login-mobile-body modal-body">  
                       
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-login-mobile-OTP" tabindex="-1" role="dialog" style="display:none;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ 'OTP Verification'|trans }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="openLoginMobile()">
          <i class="fa fa-close"></i>
        </button>
      </div>

      <div class="login-mobile-OTP-body modal-body">  
                       
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-login-mobile-pass" tabindex="-1" role="dialog" style="display:none;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ 'Create a password to login faster next time'|trans }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="openLoginMobileOTP()">
          <i class="fa fa-close"></i>
        </button>
      </div>

      <div class="login-mobile-pass-body modal-body">  
                       
      </div>
    </div>
  </div>
</div>