{% extends 'FrontBundle::Layout/default.html.twig' %}

{% block body %}
    <div class="page-wrapper">
        {% include('FrontBundle::Helper/header.html.twig') %}

        {% include('AppBundle::Helper/messages.html.twig') %}

        <div class="main-wrapper">
        	<style>
        #button {
  display: inline-block;
  background-color: #ff1d47;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: #333;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}
    </style>
    
    <a id="button"></a>
            {% block content %}{% endblock %}
        </div><!-- /.main-wrapper -->

        {% include('FrontBundle::Helper/cta.html.twig') %}
        
        {% include('FrontBundle::Helper/footer.html.twig') %}
    </div><!-- /page-wrapper -->
{% endblock %}
