<div class="row allListCategory">
	{% if listings|length %}
		{% for listing in listings %}
			<div class="col-md-3 col-sm-4 col-6 displayView">
				{% include 'FrontBundle::Listing/box.html.twig' %}
			</div><!-- /.col-* -->
		{% endfor %}
	{% else %}
		{% include 'AppBundle::Helper/empty.html.twig' %}
	{% endif %}
</div>